{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Video background </title>
    <link rel="stylesheet" href="{% static 'base/css/bg.css'%}">
</head>
<body>
    <section class="hero">
<!-- autoplay muted is allowed , 

 without it video will not autoplay,

  not supported by chromium browsers

 -->    
        <video autoplay loop muted plays-inline class="bg-video">
            <source src="{% static 'base/videos/background.mp4' %}" type="video/mp4">
        </video>
        <section class = "content">            
            <h1> MASTERY </h1>

            <a href=""> Coming soon </a>
        </section>


    </section>
    
</body>
</html>