*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* html{
    height: 100%;
}
body{
    height: 100%;
} */
.hero{
    width: 100%;
    height: 100vh;
    /* for background images */
    background-image: linear-gradient(rgba(23,4,5,0.3) , rgba(24,5,6,0.3));
    display: flex;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    position: relative;
/* For positioning relatively to viewport.*/
}

.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: whitesmoke;
    font-weight: 600;
    transition: 0.7s;

}
.content h1:hover{
    -webkit-text-stroke: 2px whitesmoke; /* Basically when hovered creates a nice effect, by stroking the text out and whatever that mean. */
    color: transparent;
}
.content a{
    
    text-decoration: none;
    display: inline-block;
    padding : 20px 50px ;
    border: 2px solid white;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
    transition: 0.5s;
    
}
.content a:hover{
    background: white;
    color: black;
}


.bg-video{
/* By doing position absolute we are taking it out of the normal document flow, due to which the text is now appearing on the center as now video is removing from the content. Else the content contained video + text , but now only text, so it is alligned centre. So, used for pulling it out of normal flow.  */
    position: absolute; 
    right: 0; 
    /*  So, this is used to fix the position of the content. */
    bottom: 0; 
    z-index: -1; /*So, that it fades into the background*/
    /* object-fit : cover*/
  /* To center the video. */
}

/*
Did not understood the below lines. 
Aspect ratio implies width/height , so if it is greater than 16/9 or 1.78, implies screen is more wide, so take up full width and height is auto.

So, bascially our video is in the center if aspect ratio is 16/9. 
*/
 @media (min-aspect-ratio: 16/9) {
    .bg-video{
        width: 100%;
        height: auto;
    }
    
}
@media (max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}  