*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
/*  For centering the elements or button. */
    font-family: sans-serif;

}

a{
    text-decoration: none;
    color: antiquewhite;
    border: 2px solid antiquewhite;
    padding : 2rem 5rem;
    font-weight: 500;
    position: relative;
    /*
    Setting the position relative as we are going to add an before element, which will have an absolute value and will be rendered over the anchor tag. 
    */
/*     transition: all 1s; */
    /*
    Transition for all properties, by specifying transition on the element or anchor tag itself, we are defining the transition should occur in both directions, hovering on and hover off and if we have transitioned it during hover, then transition should have that time only. 
    */
    overflow: hidden;
    /* To hide the overflow of the content of the button, which will happen due to a:before.
    */

}
/*
To add element before the element or anchor tag. Now that is an inline element or inline child of anchor tag is created. So, now are converting the inline element to dropdown animation,  so it is like an element, so we use display flex and other properties to center its content, without content, it will not be displayed and after that we set its position to absolute, relative to its parent anchor tag and it covers <a>, so then we also apply transform to before tag, as we would want it to transform into -100 in y axis, but as overflow is hidden, so it will not show, remember it is the child of the anchor tag itself. And also transition to it, as we want it to also have transition. 


*/
a:before{

    content: "NEXT";
    position: absolute;
    font-weight: 600;
    transition: all 1s;
    /* For two sided transition */
    top: 0 ; 
    left : 0 ; 
    color: black;
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);


}
/* When we hover over the before tag, we want it to come back to center. */
a:hover:before{
/*     transition: all 1s; if we add here, then it is only one sided transition. */
    transform: translateY(0);

}


